.myTablesPage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:5%;
    width: 50%;
}
.MyTablesPageTitle {
    margin: 2% 0;
}
.tableList {
    display: flex;
    flex-direction: column;
    margin: 1% 0;
    justify-content: center;
    align-items: center;
}
.tableName {
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px;
    background-color: antiquewhite;
    color: black;
    min-width: 40%;
    max-width: 100%;
}